In [1]:
import pandas as pd
import numpy as np

In [3]:
df1=pd.read_csv("D:\pycharm\python_study\study_file\固定资产占比.csv",encoding='gbk',dtype={'证券代码':'str'})
df1.head()

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\易姝莅\AppData\Local\Temp\ipykernel_22692\2824379087.py:1: SyntaxWarning: invalid escape sequence '\p'
  df1=pd.read_csv("D:\pycharm\python_study\study_file\固定资产占比.csv",encoding='gbk',dtype={'证券代码':'str'})

     证券代码 证券简称      统计截止日期  固定资产占比
0  000002  万科A  2023-12-31  0.0128
1  000002  万科A  2023-12-31  0.0128
2  000002  万科A  2023-12-31  0.0128
3  000002  万科A  2023-12-31  0.0128
4  000002  万科A  2023-12-31  0.0128

In [4]:
df1=df1.drop_duplicates()
df1.head()

      证券代码  证券简称      统计截止日期  固定资产占比
0   000002   万科A  2023-12-31  0.0128
8   000004  国华网安  2023-12-31  0.0039
16  000006  深振业A  2023-12-31  0.0016
24  000008  神州高铁  2023-12-31  0.0482
32  000010  美丽生态  2023-12-31  0.0033

In [9]:
df1.to_csv("D:\\pycharm\\python_study\\use_file\\固定资产占比_cleaned.csv",index=False,encoding='utf-8')

In [32]:
df2=pd.read_csv("D:\\pycharm\\python_study\\task\\管理费用率.csv",encoding='gbk',dtype={'证券代码':'str'})
df2.head()

     证券代码  证券简称      统计截止日期 报表类型     管理费用率
0  000001  平安银行  2023-12-31    A       NaN
1  000001  平安银行  2023-12-31    B       NaN
2  000002   万科A  2023-12-31    A  0.012382
3  000002   万科A  2023-12-31    B  0.063643
4  000004  国华网安  2023-12-31    A  0.290858

In [35]:
df3=df2.query("报表类型!='B'")
df3.head()

     证券代码    证券简称      统计截止日期 报表类型     管理费用率
0  000001    平安银行  2023-12-31    A       NaN
2  000002     万科A  2023-12-31    A  0.012382
4  000004    国华网安  2023-12-31    A  0.290858
6  000006    深振业A  2023-12-31    A  0.060599
8  000007  *ST 全新  2023-12-31    A  0.091845

In [36]:
df3.to_csv("D:\\pycharm\\python_study\\task\\管理费用率_cleaned.csv",index=False,encoding='utf-8')

In [48]:
df4=pd.read_csv("D:\\pycharm\\python_study\\task\\age.csv",encoding='gbk',dtype={'证券代码':'str'})
df4.head()

     证券代码 证券简称      统计截止日期  公司年龄
0  000002  万科A  2023-12-31    32
1  000002  万科A  2023-12-31    32
2  000002  万科A  2023-12-31    32
3  000002  万科A  2023-12-31    32
4  000002  万科A  2023-12-31    32

In [49]:
df4=df4.drop_duplicates()
df4.head()

      证券代码    证券简称      统计截止日期  公司年龄
0   000002     万科A  2023-12-31    32
8   000004    国华网安  2023-12-31    32
16  000006    深振业A  2023-12-31    31
24  000007  *ST 全新  2023-12-31    31
28  000008    神州高铁  2023-12-31    31

In [50]:
df4.to_csv("D:\\pycharm\\python_study\\task\\age_cleaned.csv",index=False,encoding='utf-8')

In [51]:
ROA=pd.read_csv("D:\\pycharm\\python_study\\task\\ROA.csv",encoding='gbk',dtype={'证券代码':'str'})
ROA.head()

   股票代码  股票简称      统计截止日期 报表类型编码  总资产净利润率(ROA)A
0     1  平安银行   2023/3/31      A       0.002676
1     1  平安银行   2023/6/30      A       0.004615
2     1  平安银行   2023/9/30      A       0.007185
3     1  平安银行  2023/12/31      A       0.008315
4     1  平安银行   2024/3/31      A       0.002606

In [52]:
df6=ROA.groupby("股票代码")["总资产净利润率(ROA)A"].mean()
df6

股票代码
1         0.005258
2         0.002736
4        -0.100578
6        -0.012135
7         0.021445
            ...
920066    0.123082
920088    0.066658
920099    0.094832
920111    0.074403
920118    0.051045
Name: 总资产净利润率(ROA)A, Length: 5368, dtype: float64

In [66]:
df6.to_csv("D:\\pycharm\\python_study\\task\\ROA_11_cleaned.csv",index=False,encoding='utf-8')

In [64]:
df9=pd.read_csv("D:\\pycharm\\python_study\\task\\ROA_11.csv",encoding='gbk',dtype={'证券代码':'str'})
df9.head()
df9=df9.drop_duplicates(subset=['股票代码'])
df9.head()
df9.to_csv("D:\\pycharm\\python_study\\task\\ROA_cleaned.csv",index=False,encoding='utf-8')

   股票代码  股票简称      统计截止日期 报表类型编码
0     1  平安银行   2023/3/31      A
1     1  平安银行   2023/6/30      A
2     1  平安银行   2023/9/30      A
3     1  平安银行  2023/12/31      A
4     1  平安银行   2024/3/31      A